* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
}

.content {
  height: 100%;
  position: relative;

}

.content .formulario {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-areas:
    'titulo titulo'
    'ls rs'
    '. btn';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.titulo {
  grid-area: titulo;

  font-size: 30px;
  font-weight: 900;
  color: #961bbe;
}

.formulario section {
  display: grid;
  place-items: center;
  
  height: 100%;
  width: 100%;

}

.formulario section div {
  margin-bottom: 10px;
  position: relative;
  color: #a3a3a2;
  font-weight: 600;
  font-size: 15px;

  width: 60%;
}

.formulario div input {
  padding: 4px;
  height: 45px;
  width: 100%;
  border: none;
  background: none;
  color: #fff;

  letter-spacing: 2px;

  outline: none;
}

.formulario div input::placeholder{
  color: #fff;
  transition: color ease .2s;

}

.formulario div:hover > input::placeholder,
.formulario div:focus-within > input::placeholder{
  color: #961bbe;
}

.formulario section > div::after{
  content: '';
  height: 2px;
  width: 0%;
  background: #961bbe;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: width ease .3s;
}

.formulario section > div:focus-within::after{
  width: 100%;
}

.formulario div label {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

}

.formulario .left-screen select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-image: none;
  cursor: pointer;
    
  padding: 4px;
  background: rgba(196, 129, 255, 0.78);
  border-radius: 1.5px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

  width: 100%;
  height: 100%;
}

.formulario .left-screen select::-webkit-scrollbar{
  width: 12px;
}

.formulario .left-screen select::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(6px);
  border-radius: 3px;
}

.formulario .left-screen .selection{
  display: flex;

  position: relative;
  width: 14rem;
  height: 2.8rem;  
}

.formulario .left-screen option{
  border: none;
  text-align: left;
}

.formulario .left-screen .selection::after{
  content: '\25BC';
  position: absolute;
  top: 4px;
  left: 181px;
  
  z-index: 2;
  height: 37px;
  width: 37px;
  text-align: center;
  pointer-events: none;
  border-radius: 0.95px;

  color: #fff;
  background: rgba(155, 84, 218, 0.78);
  transition: color .2s;
}

.formulario .left-screen .selection:hover::after{
  color: rgba(196, 129, 255, 0.78);
}

.left-screen {
  grid-area: ls;
}

.right-screen {
  grid-area: rs;
}

.two-elements-inline{
  display: flex;
}

.formulario .btn-submit,
.formulario input {
  font-family: 'Poppins', sans-serif;
}

.formulario input#numero::-webkit-outer-spin-button,
.formulario input#numero::-webkit-inner-spin-button{
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.formulario .btn-submit {
  grid-area: btn;

  height: 2.8rem;
  width: 14rem;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 1.5px;

  background: rgba(196, 129, 255, 0.78);
  color: white;
  transition: filter ease-in 0.2s;
  cursor: pointer;
}

.formulario .btn-submit:hover {
  filter: brightness(0.8);
}

.modal{
  background: #fff;
  border-radius: 2px;
  color: #42eb72;

  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
  visibility: hidden;
  transition: 0.7s;
}

.modal .check{
  height: 70px;
  width: 70px;
  clip-path: circle();
  margin-bottom:20px;

  position: relative;
  background: #42eb72;
  display: grid;

}

.modal .check span{
  content: '';
  position: absolute;
  left: 46.4%;
  top: 20%;
  height: 40px;
  width: 10px;
  transform: rotate(48deg);
  border-radius: 20px 20px 20px 10px;
  background: #fff;
}

.modal .check span::before{
  content: '';
  position: absolute;
  left: -100%;
  top: 57%;
  height: 25px;
  width: 10px;
  transform: rotate(-90deg);
  border-radius: 20px 20px 0 10px;
  background: #fff;
  
}
/* MEDIA QUERY:  < 925px */
@media (max-width: 925px){

  .content .formulario{
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
  }

  .formulario section{
    height: max-content;
  }

  .formulario input{
    margin-bottom: 4px;
  }
}

