body,
html{
  height: 100%;
  width: 100vw;
  display: grid;
  place-items: center;
  background: url(/assets/images/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 56.25rem;
  height: 31.25rem;
  position: relative;
  z-index: 5;
  border-radius: 25px;

}

@media (max-width: 925px){
  .container{
    height: 90vh;
    width: 90vw;
  }

}