* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "ls rs";
  grid-template-columns: 2fr 1fr;
  backdrop-filter: blur(6px);

}

.left-screen{
  border-top: 1px solid rgba(255, 255, 255, 0.657);
  border-left: 1px solid rgba(255, 255, 255, 0.459);
  grid-area: ls;
  background: rgba(86, 203, 242, 0.24);
  border-radius: 25px 0px 0px 25px;

  display: grid;
  place-items: center;

}

.right-screen{
  grid-area: rs;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 25px 25px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.right-screen a{
  height: 2.800rem;
  width: 14rem;
  font-weight: 600;
  font-size: 13px;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;

  text-decoration: none;
  color: #fff;
  background: #0085b0;
  place-items: center;
  display: inherit;

  transition: filter .4s;
}

.right-screen a:hover{
  filter: brightness(0.8);
}

.right-screen a i{
  padding: 5px;
  margin-left: 10px;
}

#character{
  width: 16rem;
  height: 16rem;
}


